*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: 1px solid blue !important;
}

body{
    margin:0;
    padding:0;
    border: 3px solid green;
    margin-top: 50px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(235, 234, 215);
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    top:0;
    left:0;
    border: 3px solid rgb(128, 0, 0);
    background-color: rgba(255, 255, 255, 0);
}

nav a{
    margin: 0 4.5vw;
    font-size: 25px;
}

nav .no-ul{
    text-decoration: none;
}


.first-page{
    height: 45%;
    width: 100%;
    border: 3px solid purple;
    position: relative;
}

.first-page .img-effect1{
    height: 500px;
    width: 500px;
    margin-top: 8vh;
    margin-left: 18vw;
    position: absolute; 
}

.first-page .img-effect2{
    height: 500px;
    width: 500px;
    margin-top: 12vh;
    margin-left: 22vw;
    position: absolute; 
}

.first-page .profile-picture{
    height: 500px;
    width: 500px;
    margin-top: 10vh;
    margin-left: 20vw;
    float:left;
    position: absolute;
}


.description{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin: 2vw;
    margin-left: 55vw;
    position: absolute;
    z-index: 1;
}
.description p{
    float: right;
    color: rgb(43, 46, 50); 
}

.description .intro{
    font-size: 100px;
}

.description .sub-intro{
    font-size: 24px;
}

.description #forest-green-text{
    color: rgb(83, 101, 76);
}



