*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    margin-top: 70px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(235, 234, 215);
    min-width: 360px;
    min-height: 750px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 15;
}

nav a{
    color: rgb(83, 101, 76);
}
nav a:hover{
    color: rgb(162, 189, 57);
    cursor: pointer;
}

@media (width <= 402px){   
    nav{
        display: flex;
        justify-content:flex-end;
    }
    .navigation-bar .menu-icon {
        display: block;
        margin-right: 20px;
        color:rgb(83, 101, 76);
        font-size: 25px;
    }
    .navigation-bar .menu-icon:hover {
        color: rgb(162, 189, 57);
        cursor: pointer;
    }
    .navigation-bar .exit-icon {
        display: none;
        margin-right: 20px;
        color:rgb(235, 234, 215);
        font-size: 30px;
    }
    .navigation-links{
        display:none;
    }
}

@media (width > 402px){
    .navigation-bar .menu-icon, .navigation-bar .exit-icon{
        display:none;
    }
    nav a{
        font-size: 2.5vw;
        margin: 0 3.5vw;
    }
    @media (width >= 1000px){
        nav a{
            font-size: 25px;
        }
    }
    nav .no-ul{
        text-decoration: none;
    }
}

.popup {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 60%;
    overflow: auto;
    background-color: rgba(83, 101, 76, 0.55);
  }


  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup .navigation-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .popup .navigation-links li {
    margin: 1.5vh 0;
    width: 125%;
    display: flex;
    justify-content: center;
  }
  
  .popup .navigation-links li a {
    text-decoration: none;
    font-size: 30px;
  }

  .popup a{
    color: rgb(235, 234, 215);
  }

  .description{
    width: 100%;
    height: 50%;
  }

  .description #forest-green-text{
    color:rgb(83, 101, 76);
  }

  .description #figma-file{
    color:rgb(83, 101, 76);
  }
  .description #figma-file:hover{
    color: rgb(162, 189, 57);    
  }


  @media (width <= 790px){
    .first-page{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
        margin-top: 130px;
        position: relative;
    }
    .profile-picture{
        position: absolute;
        height: 550px;
        width: 550px;
        z-index: 2;
        margin-top: 30px;
      }
      .description{
        position: relative;
      }
      .description .intro{
        width: 100%;
        margin-left: 0;
        margin: 0;
        position: absolute;
        z-index: 4;
      }
      .description .sub-intro{
        width: 100%;
        margin-left: 0;
        margin: 0;
        position: absolute;
        z-index: 4;
        font-size: 20px;
        margin-top: 40px;
      }
      .description p{
        overflow: hidden;
        text-align: right;
        padding-right: 5vw;
        font-size: 50px;
      }

      .description p:first-child {
        top: 0; /* position the first p element at the top of the parent element */
      }
      .description p:nth-child(2) {
        top: 60px; /* position the second p element 120 pixels below the top of the parent element */
      }
      .description p:nth-child(3) {
        top: 100px; /* position the third p element 240 pixels below the top of the parent element */
      }
      .description p:nth-child(4) {
        top: 140px; /* position the third p element 240 pixels below the top of the parent element */
      }
      .description a p:last-child {
        top: 180px; /* position the fifth p element 340 pixels below the top of the parent element */
      }

      .my-projects-page .my-projects-header{
        font-size: 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid green;
    }
    .project{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        border: 5px solid orange;
    }
    .project div{
        width: 50%;
    }
    .project p{
        font-size: 20px;
        text-align: center;
    }
    
    .project .project-headers{
        font-size: 30px;
        text-align: center;
    }
    
    .project .project-image{
        display: block;
        margin: 0 auto;
        width: 300px;
    }

      
      @media (width <= 680px){
        .first-page{
            height: 35%;
            margin-top: 70px;
        }
        .profile-picture{
            height: 250px;
            width: 250px;
            z-index: 2;
            margin-top: 30px;
        }
        .description{
            position: relative;
        }
        .description .intro{
            width: 100%;
            margin-left: 0;
            margin: 0;
            position: absolute;
            z-index: 4;
        }
        .description p{
            overflow: hidden;
            text-align: left;
            padding-right: 5vw;
            font-size: 40px;
        }

        .my-projects-page .my-projects-header{
            font-size: 60px;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 1px solid rgb(68, 211, 230);
        }
        .project{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            border: 5px solid orange;
        }
        .project div{
            width: 100%;
        }
        .project p{
            font-size: 20px;
            text-align: center;
        }
        
        .project .project-headers{
            font-size: 30px;
            text-align: center;
        }
        
        .project .project-image{
            display: block;
            margin: 0 auto;
            width: 300px;
        }
        .left-section{
            border: 1px solid red;
        }
      }
  }


  @media (width > 790px){
    .first-page{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 100%;
        margin-top: 70px;
        position: relative;
      }
      .profile-picture{
        height: 550px;
        width: 550px;
        position: absolute;
        top: 4.5vw;
        left: 15vw;
        z-index: 2;
      }
      .description{
        position: relative;
      }
      .description .intro{
        width: 100%;
        margin-left: 0;
        margin: 0;
        position: absolute;
        z-index: 4;
      }

      .description .sub-intro{
        width: 100%;
        margin-left: 0;
        margin: 0;
        position: absolute;
        z-index: 4;
        font-size: 24px;
        margin-top: 40px;
      }

      .description p{
        overflow: hidden;
        text-align: right;
        padding-right: 5vw;
        font-size: 100px;
      }
      @media (791px <= width <= 840px){
        .description p{
            font-size: 90px;
        }
        .description .sub-intro{
            margin-top: 30px;
        }
      }

      .description p:first-child {
        top: 0; /* position the first p element at the top of the parent element */
      }
      .description p:nth-child(2) {
        top: 120px; /* position the second p element 120 pixels below the top of the parent element */
      }
      .description p:nth-child(3) {
        top: 240px; /* position the third p element 240 pixels below the top of the parent element */
      }
      .description p:nth-child(4) {
        top: 290px; /* position the fourth p element 290 pixels below the top of the parent element */
      }
      .description a p:last-child {
        top: 340px; /* position the fifth p element 340 pixels below the top of the parent element */
      }

      .my-projects-page .my-projects-header{
        font-size: 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid green;
    }
    .project{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        border: 5px solid orange;
    }
    .project div{
        width: 50%;
    }
    .project p{
        font-size: 20px;
        text-align: center;
    }
    
    .project .project-headers{
        font-size: 30px;
        text-align: center;
    }
    
    .project .project-image{
        display: block;
        margin: 0 auto;
        width: 300px;
    }

  }



  @media (width > 1200px){
    .my-projects-page .my-projects-header{
        font-size: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid green;
    }
    .project{
        display: flex;
        flex-direction: row;
        margin: 100px;
        border: 1px solid orange;
    }
    .project div{
        width: 50%;
    }
    .project p{
        font-size: 24px;
        text-align: center;
    }
    
    .project .project-headers{
        font-size: 40px;
        text-align: center;
    }
    
    .project .project-image{
        display: block;
        margin: 0 auto;
        width: 500px;
    }
    
    .left-section{
        border: 1px solid blue;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .right-section{
        border: 1px solid rgb(255, 0, 255);
    }
    
    .left-section, .right-section{
        padding: 30px;
    }
  }
  .my-projects-page{
    width: 100%;
    height: 400%;
  }
